body {
  background-color: $background-color;
}

#root {
  min-height: 100vh;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pending {
  background-color: #ed8e00;
}
.in_progress {
  background-color: #2196f3;
}
.completed {
  background-color: #4caf50;
}
